<input type="text" [(ngModel)]="texto">

<div class="qrcodeImage">
	<qrcode
	  [qrdata]="texto"
	  [allowEmptyString]="true"
	  [ariaLabel]="'QR Code image with the following content...'"
	  [cssClass]="'center'"
	  [colorDark]="'#000000ff'"
	  [colorLight]="'#ffffffff'"
	  [elementType]="'canvas'"
	  [errorCorrectionLevel]="'H'"
	  [imageSrc]="'./icon-96x96.png'"
	  [imageHeight]="75"
	  [imageWidth]="75"
	  [margin]="4"
	  [scale]="128"
	  [title]="'A custom title attribute'"
	  [width]="400"
	  (qrCodeURL)="onChangeURL($event)"
	></qrcode>
  </div>

  <a [href]="qrCodeDownloadLink" download="qrcode">Download</a>